<!DOCTYPE html>
<html>
<head>
  <title>resQvoice</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>Hi, User 👋</h1>
  <p class="subtitle">Emergency Dashboard</p>

  <button class="sos-btn" onclick="sendSOS()">🚨 SOS NOW</button>

  <div class="grid">
    <div class="card-box">AI Monitor</div>
    <div class="card-box">Status</div>
    <div class="card-box">Journey</div>
    <div class="card-box">Contacts</div>
  </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>