<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>Hi, <span id="userName"></span> 👋</h1>

  <button class="sos-btn" onclick="sendSOS()">🚨 SOS NOW</button>

  <h3>Add Contact</h3>
  <input id="name" placeholder="Name">
  <input id="phone" placeholder="+91XXXXXXXXXX">
  <button onclick="addContact()">Add</button>

  <h3>Contacts</h3>
  <ul id="contacts"></ul>
</div>

<script src="/static/script.js"></script>

<script>
const user = localStorage.getItem("user");

if (!user) {
  window.location.href = "/";
} else {
  document.getElementById("userName").innerText = user;
  loadContacts();
}
</script>

</body>
</html>
